{% extends 'base.html' %}

{% block title %} 
Transakcija na karticu
{% endblock %}

{% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register">
      {{ forma.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Transakcija na karticu</h1>
      {{forma.broj_kartice_primaoca.label()}}
      {{forma.broj_kartice_primaoca(class="form-control", placeholder="Broj kartice")}}

      {{forma.suma.label()}}
      {{forma.suma(class="form-control", placeholder="Suma")}}

      {{forma.submit(class="btn btn-lg btn-block btn-primary")}}
      <br/>
    </form>
  </div>
</body>
{% endblock %}
